[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==21.7b0"
isort = "*"
autoflake = "*"
pylint = "*"

[packages]
wandb = "*"
pandas = "*"
numpy = "*"
scipy = "*"
seaborn = "*"
jupyterlab = "*"
lux = "*"
nbqa = "*"
scikit-learn = "*"
yellowbrick = "*"
ggplot = "*"
altair = "*"
pandas-bokeh = "*"
nbdime = "*"
prefect = "*"
pytest = "*"
typer = "*"
black = "*"
isort = "*"
autoflake = "*"
pylint = "*"
httpx = "*"
prefect-dask = "*"
pydantic = "*"
hypothesis = "*"
devtools = "*"
python-dotenv = {extras = ["cli"], version = "*"}
pyarrow = "*"
ipdb = "*"
pyproject-flake8 = "*"

[requires]
python_version = "3"

[scripts]
beautify = """
bash -c \"
isort **/*.py;
black **/*.py;
autoflake -i -r --expand-star-imports --remove-all-unused-imports --remove-duplicate-keys --remove-unused-variables **/*.py;
#pflake8 **/*.py\"
"""
commit = "cz c"
lintpy = "bash -c \"pylint **/*.py\""
