[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==21.7b0"
isort = "*"
autoflake = "*"
pylint = "*"

[packages]
wandb = "*"
pandas = "*"
numpy = "*"
scipy = "*"
seaborn = "*"
prefect = "*"
typer = "*"
pytest = "*"
python-dotenv = {extras = ["cli"], version = "*"}
devtools = "*"
prefect-dask = "*"
ipython = "*"
ipdb = "*"
pyarrow = "*"

[requires]
python_version = "3"

[scripts]
beautify = "bash -c \"autoflake -i -r --expand-star-imports --remove-all-unused-imports --remove-duplicate-keys --remove-unused-variables **/*.py; isort **/*.py; black **/*.py\""
lintpy = "bash -c \"pylint **/*.py\""
lint = "pre-commit run --all-files"
test = "python -m pytest tests"
