[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==21.7b0"
isort = "*"
autoflake = "*"
pylint = "*"
python-dotenv = "*"

[packages]
wandb = "*"
pandas = "*"
numpy = "*"
scipy = "*"
seaborn = "*"
prefect = "*"
typer = "*"
pytest = "*"
python-dotenv = {extras = ["cli"], version = "*"}
devtools = "*"
prefect-dask = "*"
ipython = "*"
ipdb = "*"
pyarrow = "*"
commitizen = "*"

[requires]
python_version = "3"

[scripts]
commit = "cz c"
lab='jupyter lab --notebook-dir ..'
main = "python run_pipe.py"
test = "pytest"
